*, *:after, *:before {
  box-sizing: border-box;
}

html, body, button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

@mixin clearfix {
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

// Hide from both screenreaders and browsers: h5bp.com/u
@mixin hidden {
  display: none !important;
  visibility: hidden;
}

.hidden {
  @include hidden;
}

@mixin show {
  display: inline !important;
  visibility: visible;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin breakpoint($min, $max: 0) {
  @if $max == 0 {
    @media ( min-width: pem($min) ) {
      @content
    }
  } @else {
    @media ( min-width: pem($min) ) and ( max-width: pem($max) ) {
      @content
    }
  }
}