@media (max-width: 768px){
    section#hero {
        p, a {
            margin-left: 20px;
            grid-column-start: anfang;
            grid-column-end: ende;
          }
    }

    section {
        div {
            flex-direction: column;
            align-items: center;
        }  
    }
}